<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/clarke">Clarke</a>
    <h1>Clarke</h1>
    <img src="/img/clarke.jpg" style="width: 300px;">
    <p>​Clarke Griffin es un personaje de la novela postapocalíptica estadounidense nacida en la fecha octubre de 2131 de ciencia ficción, Los 100, escrita por Kass Morgan. A partir de dicha novela, se creó también la serie televisiva, Los 100, bajo la cadena de The CW.</p>
</body>
</html>