<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/hamilton">Lewis hamilton</a>
    <h1>Lewis Hamilton</h1>
    <img src="/img/hamilton.jpg" style="width: 350px;">
    <p> Hamilton se convirtió en el piloto más joven en lograr el título de Fórmula 1 a los 23 años, 9 meses y 26 días. En la actualidad, ha pasado a ser el segundo campeón más joven, después de que Sebastian Vettel estableciera una nueva marca en 2010 con 23 años, 4 meses y 11 días.</p>
</body>
</html>